<!--
  tic-tac-toe - a Vue 3 exercise
  Written in 2023 by Mirko Perillo
  To the extent possible under law, the author(s) have dedicated all copyright and related and neighboring rights to this software to the public domain worldwide.
  This software is distributed without any warranty.
  You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.
-->
<template>
  <div class="game">
    <div class="game-board">
      <board />
    </div>
    <div class="game-info">
      <div><sort-button /></div>
      <div>{{ status }}</div>
      <ul><history-list /></ul>
    </div>
  </div>
</template>

<script lang="ts">
import Board from '@/components/Board.vue'
import HistoryList from '@/components/HistoryList.vue'
import SortButton from '@/components/SortButton.vue'
import { useGameStore } from '@/stores/game'
import { mapStores } from 'pinia'



export default {
  computed: {
    status() {
      const winner = this.calculateWinner(this.gameStore.grid.pos)
      if (winner) {
        this.gameStore.gameOver()
        this.gameStore.setWinner(winner)
        return `Winner: ${winner.player}`
      } else if (this.gameStore.tie) {
        return 'No one wins'
      } else {
        return `Next player: ${this.gameStore.currentPlayer}`
      }
    },
    ...mapStores(useGameStore)
  },
  methods: {
    calculateWinner(grid: string[]) {
      const lines = [
        [0, 1, 2],
        [3, 4, 5],
        [6, 7, 8],
        [0, 3, 6],
        [1, 4, 7],
        [2, 5, 8],
        [0, 4, 8],
        [2, 4, 6]
      ];
      for (let i = 0; i < lines.length; i++) {
        const [a, b, c] = lines[i];
        if (grid[a] && grid[a] === grid[b] && grid[a] === grid[c]) {
          return { player: grid[a], line: lines[i] };
        }
      }
      return null;
    }
  },
  components: {
    Board, HistoryList, SortButton
  }
}
</script>
  
<style>
.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
</style>