<!--
  tic-tac-toe - a Vue 3 exercise
  Written in 2023 by Mirko Perillo
  To the extent possible under law, the author(s) have dedicated all copyright and related and neighboring rights to this software to the public domain worldwide.
  This software is distributed without any warranty.
  You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.
-->
<template>
  <div>
    <ul v-for="snapshot in orderedList" :key="snapshot.move">
      <history-button :snapshot="snapshot" />
    </ul>
  </div>
</template>

<script lang="ts">
import HistoryButton from '@/components/HistoryButton.vue'
import { useGameStore } from '@/stores/game';
import { mapStores } from 'pinia';

export default {
  computed: {
    ...mapStores(useGameStore),
    orderedList() {
      return this.gameStore.sortHistoryAscending ? this.gameStore.historyList : this.gameStore.historyList.slice().reverse()
    }
  },
  components: {
    HistoryButton
  }
}
</script>