<!--
  tic-tac-toe - a Vue 3 exercise
  Written in 2023 by Mirko Perillo
  To the extent possible under law, the author(s) have dedicated all copyright and related and neighboring rights to this software to the public domain worldwide.
  This software is distributed without any warranty.
  You should have received a copy of the CC0 Public Domain Dedication along with this software. If not, see <http://creativecommons.org/publicdomain/zero/1.0/>.
-->
<template>
  <button :class="[{ winner: highlight }, squareClass]" @click="move">{{ value }}</button>
</template>
  
<script lang="ts">
import { GameLocation } from '@/model/GameLocation'
import { useGameStore } from '@/stores/game'
import { mapStores } from 'pinia'

export default {
  props: {
    row: {
      type: Number,
      default: () => 3
    },
    col: {
      type: Number,
      default: () => 3
    },
  },
  data() {
    return {
      squareClass: 'square'
    }
  },
  computed: {
    ...mapStores(useGameStore),
    position() {
      return this.row * 3 + this.col
    },
    value() {
      if (this.gameStore.currentMove > 0) {
        return this.gameStore.grid.pos[this.position]
      } else {
        return ''
      }
    },
    highlight() {
      return this.gameStore.lineWinner.includes(this.position)
    },
    playable() {
      return this.value === ''
    }
  },
  methods: {
    move() {
      if (this.playable && !this.gameStore.isGameOver) {
        this.gameStore.playTurn(this.gameStore.currentPlayer, new GameLocation(this.row, this.col))
      }
    }
  }
}
</script>
  
<style>
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.winner {
  background-color: red;
  color: white;
}
</style>